<h3 class="mt-2 mb-3">
    <a class="go-back-button mr-2" [routerLink]="['/dashboard/turnstile']" title="{{ 'label.back' | translate }}">
      <i class="fas fa-caret-square-left"></i>
    </a>
    
    <i class="fa fa-signature" aria-hidden="true"></i> {{ "label.turnstile-signature" | translate }}
</h3>





<div class="row">


    <div class="col-md-8 col-xl-9">
        <div class="card mb-5">
            <div class="card-header">
                
              <a href="javascript:void(0)" title="{{ 'label.add-attendance' | translate }}" class="refresh-link mr-1"
                  *ngIf="hasAuthority(['USER_ATTENDANCE_CREATE']) && isVirtualAndEnabledTurnstile()" (click)="openCreateDialog()">
                              <i class="fa fa-plus"></i>
              </a>
                
                <a href="javascript:void(0)" title="{{ 'general.table-update' | translate }}" class="refresh-link"
                    (click)="refreshAttendance()">
                    <i class="fas fa-sync-alt"></i>
                </a>
                
            </div>
  
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th sortable-td [status]="0" [sortByValue]="'timestamp'" [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.timestamp" | translate }}
                                </th>
                                <th sortable-td [status]="0" [sortByValue]="'userProfile.id'" [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.user-id" | translate }}
                                </th>
                                <th sortable-td [status]="0" [sortByValue]="'userProfile.name'" [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.name" | translate }}
                                </th>
                                <th sortable-td [status]="0" [sortByValue]="'userProfile.surname'"  [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.surname" | translate }}
                                </th>
                                <th sortable-td [status]="0" [sortByValue]="'type'"  [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.type" | translate }}
                                </th>
                                <th>
                                    {{ "label.actions" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="attendances.length==0">
                                <td colspan="7" class="td-empty-records">{{ "general.table-empty" | translate }}</td>
                            </tr>
                            <tr *ngFor="let elem of attendances">
                                <td>{{ elem.timestamp | dateFormat:'long' }}</td>
                                <td>{{ elem.userProfile!=null ? elem.userProfile.id:'' }}</td>
                                <td>{{ elem.userProfile!=null ? elem.userProfile.name:'' }}</td>
                                <td>{{ elem.userProfile!=null ? elem.userProfile.surname:''  }}</td>
                                <td>{{ elem.type | turnstileType }}</td>

                                <td class="min-width-3-button-in-table">
                                    <button class="btn btn-danger btn-sm add-cursor-pointer mr-1" type="button" (click)="delete(elem)"
                                        *ngIf="hasAuthority(['USER_ATTENDANCE_DELETE'])" title="{{ 'label.info' | translate}}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                      
                                    
                                 </td>
                            </tr>
                        </tbody>
                    </table>
  
                </div>
  
                <app-custom-paginator [initialRowsToShow]="getCurrentPageSize()" [totalRecords]="getTotalRecords()" 
                    [initialSelectedPage]="initialSelectedPage" [rowsPerPageOptions]="[5,10,20,50,100]" 
                    (onPageChange)="changePage($event)">
  
                </app-custom-paginator>
  
  
            </div>
  
            
  
        </div>
        
    </div>
  
  
    <div class="col-md-4 col-xl-3 order-first order-sm-first order-md-last">
        <app-show-hide-area [collapseAreaContent]="collapseAreaContentULCd">
            <ng-template #collapseAreaContentULCd>
              <div class="filter-table-form-container">
  
                  <form noavalidate #form="ngForm" (ngSubmit)="filtersChanged()">
                    <div class="row">
                    
                        <div class="form-group col-md-12 mb-1">
                            <label for="f1" class="col-form-label">{{ "label.date-from" | translate }}</label>
                            <app-monthpicker placeholder="{{ 'general.date-placeholder' | translate }}" [initialValue]="dateFromFilter"
                                    (onSelectDate)="onChangeDateFromFilter($event)" [isAMonthpicker]="false" >
                            </app-monthpicker>
                        </div>
    
                        <div class="form-group col-md-12 mb-1">
                            <label for="f1" class="col-form-label">{{ "label.date-to" | translate }}</label>
                            <app-monthpicker placeholder="{{ 'general.date-placeholder' | translate }}" [initialValue]="dateToFilter"
                                    (onSelectDate)="onChangeDateToFilter($event)" [isAMonthpicker]="false" >
                            </app-monthpicker>
                        </div>
                    
                    </div>
                  </form>
  
                  <div class="text-right">
                      <button class="btn btn-sm btn-secondary mt-3 mb-3 mr-1 to-upper-case" (click)="resetFilters()">
                        {{ "button.clear-all" | translate }}
                      </button>
                      <button class="btn btn-sm btn-primary mt-3 mb-3 mr-1 to-upper-case" (click)="filtersChanged()">
                        {{ "label.apply" | translate }}
                      </button>
                  </div>
              </div>
              
  
                        
  
              </ng-template>
          </app-show-hide-area>
        <!-- /.container-fluid-->
    </div>
  </div>




<app-register-attendance-modal #registerAttendanceModal *ngIf="hasAuthority(['USER_ATTENDANCE_CREATE']) && isVirtualAndEnabledTurnstile()">

</app-register-attendance-modal>