<div class="modal fade" #modalRef tabindex="-1" role="dialog" aria-labelledby="modalRef" 
        aria-hidden="true" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5 class="modal-title">{{ "label.new-expense" | translate }}:</h5>
      </div>


      <div class="modal-body">


        <div *ngIf="showLoader" class="loader-for-modal">
            <span class="fa fa-spinner fa-spin fa-3x spinner-for-loader-modal">
            </span> 
        </div>
        


          <div class="row">

            <div class="form-group col-md-6 mb-1">
                <label class="col-form-label">{{ "label.title" | translate }} *</label>
                <input type="text" class="form-control" [(ngModel)]="title" maxlength="255">
            </div>


            <div class="form-group col-md-6  mb-1">
                <label class="col-form-label">{{ "label.amount" | translate }} *</label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="amount" min="0">
            </div>

            
            <div class="form-group col-md-6  mb-1">
                <label class="col-form-label">{{ "label.made-in-day" | translate }} *</label>
                  
                <app-monthpicker tooltip="{{ 'label.made-in-day' | translate }}" [initialValue]="currentDay"
                      (onSelectDate)="dayChanged($event)" [isAMonthpicker]="false">
                </app-monthpicker>
            </div>


            <div class="form-group col-md-6 mb-1">
                <label class="col-form-label">{{ "label.type" | translate }} *</label>
                <select class="form-control" [(ngModel)]="expenseType">
                    <option value="" selected></option>
                    <option *ngFor="let type of expenseTypesMap | keyvalue" [ngValue]="type.key">
                        {{ type.value }}
                    </option>
                </select>
            </div>

          
            <div class="form-group col-md-12 mb-1">
                <label class="col-form-label">{{ "label.description" | translate }} *</label>
                <textarea class="form-control" [(ngModel)]="description" maxlength="1900">
                </textarea>
            </div>

          </div>

          
          <small>*{{ "label.required-field" | translate }}</small>
      </div>



      
      

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" [disabled]="addOperationInProgress" 
                (click)="closeAddDialog()">{{ "general.button.close" | translate }}</button>

        <button type="button" class="btn btn-primary" (click)="addNewExpense()" [disabled]="addOperationInProgress">
                <span class="spinner-button-border float-left" *ngIf="addOperationInProgress"></span>
                {{ "general.button.insert" | translate }}
        </button>
      </div>

    </div>
  </div>
</div>

