
<div class="row">
    <div class="col-md-8 col-xl-9">
        <div class="card mb-5">
            <div class="card-header">
                <a href="javascript:void(0)" title="{{ 'general.table-update' | translate }}" class="refresh-link"
                    (click)="refreshData()">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th sortable-td [status]="0" [sortByValue]="'teamComponentTask.taskCode.taskCode'" [sortBy]="sortBy"
                                    (onSortChange)="onSortChange($event)" class="min-width-table-column">
                                    {{ "label.codice-commessa" | translate }}
                                </th>
                                <th sortable-td [status]="0" [sortByValue]="'teamComponentTask.taskCode.taskDescription'" [sortBy]="sortBy"
                                    (onSortChange)="onSortChange($event)" class="min-width-table-column">
                                    {{ "label.descrizione-commessa" | translate }}
                                </th>
                                
                                <th class="min-width-table-column">
                                    {{ "gestione-commesse.activation-date" | translate }}
                                </th>
                                <th class="min-width-table-column">
                                    {{ "gestione-commesse.deactivation-date" | translate }}
                                </th>
                                <th class="min-width-table-column">
                                    {{ "label.billable" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="currentTasks.length==0">
                                <td colspan="3" class="td-empty-records">{{ "general.table-empty" | translate }}</td>
                            </tr>

                            <tr *ngFor="let task of currentTasks">
                                <td>{{ task.taskCode }}</td>
                                <td>
                                    <div class=scrollable>
                                        {{ task.taskDescription | ellipsesDropperPipe: 70 }}
                                    </div>
                                </td>
                                <td>{{ task.activationDate | shortDate }}</td>
                                <td>{{ task.deactivationDate==null ? '∞' : task.deactivationDate | shortDate }}</td>
                                <td>{{ task.billable | trueFalsePipe }}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

                <app-custom-paginator [initialRowsToShow]="getCurrentPageSize()" [totalRecords]="getTotalRecords()" 
                    [initialSelectedPage]="initialSelectedPage" [rowsPerPageOptions]="[3,5,7,10]" 
                    (onPageChange)="changePage($event)">

                </app-custom-paginator>

            </div>


        </div>

    </div>

    <div class="col-md-4 col-xl-3 order-first order-sm-first order-md-last">
        <app-show-hide-area [collapseAreaContent]="collapseAreaContent">
            <ng-template #collapseAreaContent>


                    <app-custom-filters [filtersElements]="tasksFilters" (filtersChanged)="filtersChanged($event)">

                    </app-custom-filters>


                </ng-template>
            </app-show-hide-area>
        <!-- /.container-fluid-->
    </div>

</div>
