
<label class="{{labelClasses}}">{{ label }} *</label>

<input type="email" [class]="inputClasses + ' form-control '+ (canShowErrors && invalidField && showValidationErrorInternal ? 'invalid-input-custom':'')" 
          #enhancedInput [placeholder]="placeholderInternal" [(ngModel)]="value">

<div class="invalid-feedback" *ngIf="canShowErrors && invalidField && showValidationErrorInternal && !fieldIsNull">
  {{errorLabelInternal}}
</div>

<div  class="invalid-feedback" *ngIf="canShowErrors && invalidField && showValidationErrorInternal && fieldIsNull">
    {{ "message.mandatory-field" | translate }}
</div>



