.breadcrumb .breadcrumb-item{
    color: #1f5584;
}


.flag-img{
    max-width: 30px;
    max-height: 20px;
}

legend{
    font-size: 1.1rem;
} 



.logo-image-container{
    padding-top: 0px;
    text-align: center;
    margin-bottom: 15px;
}

@media(min-width:768px){
    .logo-image-container{
        padding: 20px;
        padding-top: 0px;
    }
}

@media(max-width:768px){
    #myTab .nav-link{
        font-size: 14px;
    }
    .logo-image-container{
        width: 250px;
    }
}

.image-button-container {
    position: relative;
}

.image-button-container{
    min-height: 100px;
}

/* Make the image responsive */
.image-button-container img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.image-button-container .image-div-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}