<h3 class="mt-2 mb-3">
    <i class="fas fa-building"></i> {{ "label.companies" | translate }}
</h3>



<div class="row">


    <div class="col-md-8 col-xl-9">
        <div class="card mb-5">
            <div class="card-header">
                
              <a href="javascript:void(0)" title="{{ 'label.add-new-company' | translate }}" class="refresh-link mr-1"
                  *ngIf="hasAuthority(['COMPANY_CREATE'])" (click)="openAddDialog()">
                              <i class="fa fa-plus"></i>
              </a>
                
                <a href="javascript:void(0)" title="{{ 'general.table-update' | translate }}" class="refresh-link"
                    (click)="refreshCompanies()">
                    <i class="fas fa-sync-alt"></i>
                </a>
                
            </div>
  
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th sortable-td [status]="0" [sortByValue]="'name'" [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.name" | translate }}
                                </th>
                                <th sortable-td [status]="0" [sortByValue]="'description'" [sortBy]="sortBy" (onSortChange)="onSortChange($event)">
                                    {{ "label.description" | translate }}
                                </th>
                                <th>
                                    {{ "label.actions" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="companies.length==0">
                                <td colspan="4" class="td-empty-records">{{ "general.table-empty" | translate }}</td>
                            </tr>
                            <tr *ngFor="let elem of companies">
                                <td>{{ elem.name }}</td>
                                <td>{{ elem.description }}</td>

                                <td class="min-width-3-button-in-table">
                                    <button class="btn btn-primary btn-sm add-cursor-pointer mr-1" type="button" (click)="openEditDialog(elem)"
                                        *ngIf="hasAuthority(['COMPANY_UPDATE'])" title="{{ 'label.update' | translate}}">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                      <button class="btn btn-danger btn-sm add-cursor-pointer mr-1" type="button" (click)="delete(elem)"
                                          *ngIf="hasAuthority(['COMPANY_DELETE']) && !elem.isRoot" title="{{ 'label.delete' | translate}}">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                      </button>
                                      
                                 </td>
                            </tr>
                        </tbody>
                    </table>
  
                </div>
  
                <app-custom-paginator [initialRowsToShow]="getCurrentPageSize()" [totalRecords]="getTotalRecords()" 
                    [initialSelectedPage]="initialSelectedPage" [rowsPerPageOptions]="[3,5,7,10]" 
                    (onPageChange)="changePage($event)">
  
                </app-custom-paginator>
  
  
            </div>
  
            
  
        </div>
        
    </div>
  
  
    <div class="col-md-4 col-xl-3 order-first order-sm-first order-md-last">
        <app-show-hide-area [collapseAreaContent]="collapseAreaContentULC">
            <ng-template #collapseAreaContentULC>
              <div class="filter-table-form-container">
  
                  <form noavalidate #form="ngForm" (ngSubmit)="filtersChanged()">
                    <div class="row">

                      <div class="form-group col-md-12 mb-1">
                          <label for="f1" class="col-form-label">{{ "label.name" | translate }}</label>
                          <input type="text" class="form-control" name="sddd" [(ngModel)]="nameFilter">
                      </div>
                      
                      <div class="form-group col-md-12 mb-1">
                        <label for="f1" class="col-form-label">{{ "label.description" | translate }}</label>
                        <input type="text" class="form-control" name="fgdfg" [(ngModel)]="descriptionFilter">
                    </div>

  
                    </div>
                  </form>
  
                  <div class="text-right">
                      <button class="btn btn-sm btn-secondary mt-3 mb-3 mr-1 to-upper-case" (click)="resetFilters()">
                        {{ "button.clear-all" | translate }}
                      </button>
                      <button class="btn btn-sm btn-primary mt-3 mb-3 mr-1 to-upper-case" (click)="filtersChanged()">
                        {{ "label.apply" | translate }}
                      </button>
                  </div>
              </div>
              
  
                        
  
              </ng-template>
          </app-show-hide-area>
        <!-- /.container-fluid-->
    </div>
  </div>

  




<app-company-modal #companyModal (onUpdateCompany)="refreshCompanies()">
    
</app-company-modal>